/* Container for profile info */
#mainBG{
  background-color: rgba(255, 255, 255, 1);
  opacity: 0.6;
  margin: auto;
  width: 70em;
  height: 30em;
  margin-top: 5em;
}

/*form box size, add a border: 1px solid if you'd like to see how big*/
fieldset{
  padding-bottom: 11.80em;
  border: none;
}

/*table layout*/
table{
  float: right;
  padding-right: 2em;
  margin: auto;
}
 /*spacing between fields*/
table tr td{
  padding-right: 1em;
  padding-top: 5px;
}

/*textbox size*/
input[type=text]{
  height: 1.5em;
}

/*styling for button*/
button[name=saveChanges]{
  position: relative;
  top: 5em;
  left: 3em;
  color: white;
  font-size: 2.5em;
  border: 0;
  background-color: rgba(103, 135, 156, 1);
  border-radius: 0px;
  width: 7.65em;
  height: 1.25em;
}

/*hover styling*/
button[name=saveChanges]:hover{
  background-color: #516b7c;
}

/*styling the payment shipment information p tag*/
#mainBG p{
  position: relative;
  top: 5em;
  left: -9.5em;
  text-align-last: center;
  font-size: 30px;
}

/*dropdown bars*/
select{
  height: 2em;
}
