#mainBG{
  background-color: rgba(255,255,255,.4);
  height: 30em;
  margin: 3em;
  margin-top: 1em;
  margin-bottom: 5em;
  padding: 4em;
  overflow-y: auto;
}

.search-container{
  padding-left: 6.70em;
  padding-top: 1em;
  }

.search-container input{
  font-size: 1em;
  transform: scale(1.25,1.25);
  width: 30em;
  height: 2em;
  opacity: 0.7;
  }

  button[name=button]{
    font-size: 1.5em;
    border: 0;
    background-color: rgba(103, 135, 156, 1);
    border-radius: 0px;
    height: 1.5em;
    color: white;
    width: 5em;
    float: right;
    margin-right: 30em;
    margin-top: -1.35em;
  }

  button[name=button]:hover{
    background-color: #516b7c;
  }

  td{
    padding: 1.75em;
  }
