

/* body */
/* space between header and columns*/
.search-container{
  clear: both;
  margin: 10em 34em;
  top: 10em;
  }
.search-container input{
  font-size: 1em;
  transform: scale(1.75,1.75);
  width: 30em;
  height: 2em;
  opacity: 0.7;

  align-items: center;
  }

.columnWrapper{
height:40em;
background-color: rgba(255, 255, 255, 0.7);

}
.column{
  float: left;
  margin-top: 5em;
  box-sizing: border-box;
  background-color: white;
  padding: 1em;
}
#left,#right{
  margin-left: 2%;
  margin-right: 2%;
  width:31%;
  height:30em;
  text-align: center;

}
#middle{
width: 30%;
height:37%;
text-align: center;
height: 30em;
}

/* this is the size styling for the image of the week*/
.columnWrapper #middle span img{
width: 90%;
height: auto;
}

footer{
  clear: left;
}

h2{
  text-align: center;
}
