#surroundingBackground{
  background-color:  rgba(255, 255, 255, 0.6);
  margin: 5em;
  text-align: center;
}

/*main picture sizing*/
#mainPic{
  height: 25em;
}

/*photo positioning*/
figure{
  margin: 3em;
  padding: 0;
  display: inline-block;
}
figcaption{
  font-size: 2em;
  color: #67879c;
  text-align: right;
  padding-top: 0.4em;
}

/*image info background styling*/
#imgInfoBG{
  display: inline-block;
  margin: 3em;
}

#imgInfoNoBtn{
  width: 38em;
  height: 23.10em;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: left;
  padding: 1em;
  position: relative;
}

/*Image info heading styling*/
h2{
  font-size: 3em;
  color: #67879c;
}

/*the following are stylings of the info of the picture, shotinfo, and cost in respective order*/
#uniqueInfo{
  font-size: 1em;
  color: #67879c;
}

.shotInfo{
  font-size: 1.5em;
  color: #67879c;
}

.picCost{
  font-size: 2em;
  color: #67879c;
  position: absolute;
  right: 1em;
  bottom: 0.5em;
}

/*button styling and coloring*/
button[name=addCart]{
  font-size: 2.5em;
  border: 0;
  background-color: rgba(103, 135, 156, 1);
  border-radius: 0px;
  width: 100%;
  height: 1.25em;
  color: white;
}

/* Share Button Style */
button[name=shareBtn]{
  border: 0;
  background-color: rgba(103, 135, 156, 1);
  border-radius: 0px;
  height: 2.25em;
  color: white;
  padding: 0.5em;
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
}

#quantity{
  width: 5em;
}
#quantityDiv{
  position: absolute;
  bottom: 4em;
  right: 2em;
  color: #516b7c;
}
#stockDiv{
  position: absolute;
  bottom: 5.5em;
  right: 6.1em;
  color: #516b7c;
}

/* Reviews Styles */
#reviewSec{
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 5em;
  margin: 5em;
  padding: 5em;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-bottom: 8em;
}
#reviewSec h3{
  font-size: 26pt;
  float: left;
}
.review{
  clear: both;
  background-color: rgba(255, 255, 255, 0.5);
  margin:auto;
}
.author{
  color: rgba(103, 135, 156, 1);
  padding: 1em;
  margin-top: 1em;
  font-size: 1.2em;
}
.comment{
  padding: 1em;
  padding-top: 0;
}
/*writeReview button styling and coloring*/
button[name=writeReview]{
  float: right;
  font-size: 2em;
  border: 0;
  background-color: rgba(103, 135, 156, 1);
  border-radius: 0px;
  width: 10.75em;
  height: 1.25em;
  color: white;
}

/* css for collapsible review */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active{
  background-color: #516b7c;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.text{
  margin-top: 1em;
  width: 100%;
  height: 6em;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.5);
  resize: none;
}
/*submit button styling and coloring*/
input[name=submit]{
  font-size: 2em;
  border: 0;
  background-color: rgba(103, 135, 156, 1);
  border-radius: 0px;
  width: 10.75em;
  height: 1.25em;
  color: white;
  margin: 0.5em;
  margin-left: 0;
}
button[name=cancel]{
  font-size: 2em;
  border: 0;
  background-color: rgba(103, 135, 156, 1);
  border-radius: 0px;
  width: 10.75em;
  height: 1.25em;
  color: white;
  margin: 0.5em;
}
/*hover for write review button*/
button:hover{
  /* background-color: #516b7c; */
  background-color: #516b7c;
}
input:hover{
  /* background-color: #516b7c; */
  background-color: #516b7c;
}

/* For toast Notification */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #516b7c;
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 70px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 5.5s;
   animation: fadein 0.5s, fadeout 0.5s 5.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 70px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 70px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 70px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 70px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
