/*main background with oppacity*/
#mainBG{
  background-color: rgba(255,255,255,.4);
  height: 30em;
  margin: 3em;
  margin-bottom: 5em;
  padding: 4em;
}

/* put the cart beside shoppingcart*/
h2{
  display: inline-block;
  font-size: 2em;
}

.Price{
  width:10em;
  height:10em;
  margin: 1em 0;
  margin-left: 4em;
}

#total{
  font-size: 2.5em;
  height: 2em;
  margin-top: 0em;
  background-color: rgba(255, 255, 255, 1);
}

#total p{
  padding-left: 2em;
  padding-top: 0.25em;
}

/*info on right side*/
#content{
    height: 20em;
    background-color: rgba(255, 255, 255, 1);
    overflow: scroll;
}
/*button under info*/
button[name=checkOut]{
  width: 50%;
  float: right;
  margin-top: 0em;
  height: 2em;
  background-color: #67879c;
  color: white;
  font-size: 2.5em;
  border: 0;
  border-radius: 0px;
}

button[name=checkOut]:hover{
  background-color: #516b7c;

}
