.leftFloat{
  float: left;
  background-color: rgba(255,255,255,1);
  width:20em;
}
.members{
  overflow-y: scroll;
  max-height: 50em;
}
.rightside{
  margin-left: 35em;
  background-color: rgba(255,255,255,1);
  width:40em;
}
.user{
  margin: 2em 0;
  padding-left: 2em;
  border-bottom: 1px solid black;

}
.user p{
display: inline-block;

}
.actions button{
  float: left;
  margin: 2em 2em;
}
button[name="Edit Info"]{
  clear: left;
}
.actions{
  height: 10em;
}
.photoWrapper{
  padding: 1em;
  border: 1px solid black;
  position: relative;
}
.price{

}
.photo p{
  display: inline;
}
.photo{
}
.price{
  right: 1em;
  position: absolute;
  bottom: 1em;
}
.items button{
  margin: 1em;
}
