#mainBG{
  background-color: rgba(255, 255, 255, .6);
  margin: auto;
  width: 70em;
  height: 30em;
  margin-top: 5em;
}

/*form box size, add a border: 1px solid if you'd like to see how big*/
fieldset{
  border:none;
}

/*table layout*/
table{
  float: left;
  padding-top: 3em;
  padding-left: 3em;
  padding: 2em;
  margin: auto;
}
 /*spacing between fields*/
table tr td{
  padding-right: 1em;
  padding-top: 5px;
}

/*textbox size*/
input[type=text]{
  height: 1.5em;
}

/*styling for button*/
button[name=saveChanges]{

  color: white;
  font-size: 2.5em;
  border: 0;
  background-color: rgba(103, 135, 156, 1);
  border-radius: 0px;
  width: 7.65em;
  height: 1.25em;
  width: 100%;

}

/*hover styling*/
button[name=saveChanges]:hover{
  background-color: #516b7c;
}

/*styling the payment shipment information p tag*/
#mainBG h1{
display: inline-block;
margin-left: .5em;
margin-top: 1em;
width: 20em;
font-size: 1.125em;
}
#Items p{
  margin: 2em 0;
  margin-left: .5em;
}
#Items{
  margin-left: 40em;
  background-color: rgba(255, 255, 255, 1);
  padding: 1em 0em;
  margin-right: 2em;
  overflow: auto;

}
#total h2{
  display: inline;
}
#total p{
  margin-left: 10em;
  display: inline;
}
#total{
  margin-top: 3em;
  margin-left: 40em;
  margin-bottom: 2em;
  margin-right: 2em;
}

/*dropdown bars*/
select{
  height: 2em;
}
