/* Container for profile info */
#entireBG{
  background-color: rgba(255, 255, 255, 0.6);
  /* width: 100em; */
  margin: auto;
  width: 50em;
  height: 20em;
  margin-top: 3em;
}
#entireBG h2{
  float: left;
  margin-left: 3em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 26pt;
  font-weight: lighter;
}
#sideBar{
  clear: both;
  margin-left: 5em;
  float: left;
}
form{
  float: left;
  margin-left: 2em;
}
fieldset{
  border: none;
}
input {
    border: 2px solid #67879c;
    border-radius: 4px;
}
