/* Container for profile info */
#entireBG{
  background-color: rgba(255, 255, 255, 0.6);
  /* width: 100em; */
  margin: auto;
  width: 70em;
  height: 20em;
  margin-top: 3em;
}
/* My Profile heading */
#entireBG h2{
  float: left;
  margin-left: 3em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 26pt;
  font-weight: lighter;
}
/* Container with profile img and links */
#sideBar{
  clear: both;
  margin-left: 5em;
  float: left;
  width: 15em;
}
.sbarFunctions{
  display: block;
  margin: 0.25em;
}
form{
  float: left;
  margin-left: 2em;
}
fieldset{
  border: none;
}
input {
    border: 2px solid #67879c;
    border-radius: 4px;
}
#profileImg{
  padding: 2em;+
}
#changePic{
  display: block;
  font-size: 8pt;
  text-align: center;
}
