/* General Styles */
body{
  background: url("../images/background-blur.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Myriad Pro", "Times New Roman", Times, serif; */
}
header{
  width: 100%;
  height: 0;
  padding-bottom: 5em;
  top: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

/*style for header buttons... THIS WILL CHANGE EVENTUALLY --> JUST TEMPORARY*/
header button[type=button]{
  font-size: 1em;
  padding: 0.5em;
  width: 6em;
  margin-top: 1.25em;
  border: 0;
  background-color: #67879c;
  border-radius: 0px;
  color: white;
}

header button[type=button]:hover{
  background-color: #516b7c;
}

footer{
  background-color: #414142;
  opacity: 0.8;
  color: rgba(255, 255, 255, 0.6);
  bottom: 0;
  /* margin-top: auto; */
  position: fixed;
  width: 100%;
}
footer p{
    color: white;
    padding: 1em;
    padding-top: 1.25em;
}
/* PhotoArt Heading */
header h1{
  float:left;
  margin: 0.25em;
  font-size: 300%;
}
/* Navigation buttons on the right of header */
header nav{
  float:right;
}
nav button{
  margin: 1em;
}

/* Drop Shadow */
header{
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.1);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 15px rgba(0, 0, 0, 0.1);  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 15px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.shadow{
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 10px rgba(0, 0, 0, 0.3);  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 10px rgba(0, 0, 0, 0.3);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
