/* Modify but general header format*/
header p {
  float:left;
  margin: 0;
  font-size: 3em;
}
header{
  height:10%;
  width: 100%;
}
header nav{
  float:right;

}
nav button{
  margin-left: 1em;

}

#mainDiv{
  text-align: center;
  margin-bottom: 10em;
  padding: 20em;
}

form{
  display: inline-block;
  background: white;
  opacity: 0.6;
  padding: 10em 10em;

}

#formLogo{
  padding:
}
