#mainDiv{
  text-align: center;
  margin-bottom: 10em;
  margin-top: 0em;
  padding: 5em;
}

/*form opacity and background styling, PROBLEM: opacity effects EVERYTHING*/
form{
  display: inline-block;
  background: white;
  opacity: 0.7;

}

/*expanding the form field itself*/
fieldset{
  margin: 10em;
  border: white
}

/*styling the logo*/
#formLogo{
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  bottom: 1em;
  font-size: 4em;
  background-color: rgba(77, 166, 255, 1);
}


/*layouting the username and password boxes*/
input[type=text]{
  position: relative;
  bottom: 2em;
  width: 22.5em;
  height: 3em;
}

input[type=password]{
  position: relative;
  width: 22.5em;
  height: 3em;
}

/*styling the log in button*/
button[name=loginSubmit]{
  position: relative;
  top: 0.75em;
  font-size: 2.5em;
  border: 0;
  background-color: rgba(77, 166, 255, 1);
  border-radius: 0px;
  width: 7.65em;
  height: 1.25em;
}

/*hover for log in button*/
button[name=loginSubmit]:hover{
  background-color: #0080ff;
}

/*positioning the two links, register and forgot password*/
.regStyle{
  position: relative;
  top: 2.5em;
  right: 3.5em;
}

.pswStyle{
  position:relative;
  top: 2.5em;
  left: 3.5em;
}
