body{
  background: url("../images/background.jpg");
  background-size: auto 100%;

}
/* Modify but general header format*/
header p {
  float:left;
  margin: 0;
  font-size: 3em;
}
header{
  height:10%;
}
header nav{
  float:right;

}
nav button{
  margin-left: 1em;

}

/* body */
.search-container{
  clear: both;
  margin: 20% 30%;
  width:40%;
  height:7%;

}
#columnWrapper{

}
.column{
  float: left;
}
#left,#right{
  margin-left: 2%;
  margin-right: 2%;
  width:31%;
  height:37%;
}
#middle{
width: 30%;
height:37%;
}
footer{
  clear: left;
}
