

/* body */
/* space between header and columns*/
.search-container{
  clear: both;
  margin: 18em 37em;'
  top: 10em;
  }
  /* */
  .search-container input{
    width:25em;
    height: 2em;
    align-items: center;

  }
.columnWrapper{
height:30em;
background-color: rgba(255, 255, 255, 0.7);

}
.column{
  float: left;
  margin-top: 5em;
  box-sizing: border-box;
  background-color: white;
  padding: 1em;
}
#left,#right{
  margin-left: 2%;
  margin-right: 2%;
  width:31%;
  height:20em;
  text-align:

}
#middle{
width: 30%;
height:37%;
text-align: center;
height: 20em;
}

footer{
  clear: left;
}
