/*selects backContainer*/
#mainBG{
  padding:2em;
  background-color: rgba(255,255,255,.3);
  height: 75em;
  margin:4em;

}
/* selects the larger image(first one)*/
#mainBG div a .firstPhoto{
  height:21em;
  width:20em;
  box-sizing: border-box;
  margin: 1em;
  margin-top: 2em;
  float: left;
}
/*clears third images of the four smaller ones*/

.clearImg{
  clear: left;
}
/*container for the 4 smaller photos*/
.img{
  display: inline-block;
  margin: 1em 0;
}
/*selects each one of the smaller images*/
#mainBG div .img a img{
  height:10em;
  width:10em;
  box-sizing: border-box;
  margin-left: 1em;
  margin-top: 1em;
  float:left;
}
/*container for each category*/
.catContainer{
  float: left;
  padding: 1em;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  margin: 1em;

}
/*clears the third container to make new row*/
#clearContainer{
  clear:left;
}
