#surroundingBackground{
  background-color:  rgba(255, 255, 255, 0.7);
  max-width: 90em;
  text-align: center;
  margin: 3em auto;

}

/*main picture sizing*/
#mainPic{
  height: 25em;
}

/*photo positioning*/
figure{
  margin: 0;
  padding: 0;
  display: inline-block;
  /* max-width: 30em; */
}

/* .container
{
     text-align: center;
}
.left-div
{
     display: inline-block;
     max-width: 300px;
     vertical-align: top;
}
.right-div
{
     display: inline-block;
     max-width: 150px;
} */

/*image info background styling*/
#imgInfoBG{
  display: inline-block;
}

#imgInfoNoBtn{
  width: 40em;
  height: 25.10em;
  background-color: rgba(255, 255, 255, 1);
}

figcaption{
  font-size: 2em;
  color: #67879c;
}

/*Image info heading styling*/
h2{
  font-size: 3em;
  color: #67879c;
}

/*the following are stylings of the info of the picture, shotinfo, and cost in respective order*/
#uniqueInfo{
  font-size: 1em;
  color: #67879c;
}

.shotInfo{
  font-size: 1.5em;
  color: #67879c;
}

.picCost{
  font-size: 2em;
  color: #67879c;
}

/*button styling and coloring*/
button[name=addCart]{
  font-size: 2.5em;
  border: 0;
  background-color: rgb(103, 135, 156, 1);
  border-radius: 0px;
  width: 10.75em;
  height: 1.25em;
  color: white;
}

/*hover for register button*/
button[name=addCart]:hover{
  background-color: #516b7c;
}
