#surroundingBackground{
  width: 90em;
  background-color:  rgba(255, 255, 255, 0.7);
  /* width: 80em; */
  /* height: 36em; */
  margin: auto;
  margin-top: 5em;
  overflow-x: hidden;
}

/*main picture sizing*/
#mainPic{
  /* width: 10em; */
  height: 25em;
}

/*photo positioning*/
figure{
  margin: 2em;
  float: left;
}

/*image info background styling*/
#imgInfoBG{
  float: left;
  /* height: 40em; */
  margin: 2em;

}
#imgInfoNoBtn{
  float: left;
  width: 40em;
  height: 25em;
  background-color: rgba(255, 255, 255, 0.5);
}

figcaption{
  font-size: 2em;
  color: #67879c;
}

/*Image info heading styling*/
h2{
  position: relative;
  top: 0.5em;
  left: 0.5em;
  font-size: 3em;
  color: #67879c;
}

/*the following are stylings of the info of the picture, shotinfo, and cost in respective order*/
#uniqueInfo{
  position: relative;
  top: 2em;
  left: 1.5em;
  font-size: 1em;
  color: #67879c;
}

.shotInfo{
  position: relative;
  top: 5em;
  left: 1em;
  font-size: 1.5em;
  color: #67879c;
}

.picCost{
  position: relative;
  top: 4.5em;
  left: 16.5em;
  font-size: 2em;
  color: #67879c;
}

/*button styling and coloring*/
button[name=addCart]{
  /* margin: 5em; */
  clear:both;
  float: left;
  font-size: 2.5em;
  border: 0;
  background-color: rgb(103, 135, 156, 1);
  border-radius: 0px;
  width: 10.75em;
  height: 1.25em;
  color: white;
}

/*hover for register button*/
button[name=addCart]:hover{
  background-color: #516b7c;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
