#surroundingBackground{
  padding: 3em;
  background-color:  rgba(255, 255, 255, 0.7);
  width: 80em;
  height: 30em;
  margin: auto;
  margin-top: 5em;
}

/*main picture sizing*/
#mainPic{
  width: 35em;
  height: 25em;
}

/*photo positioning*/
figure{
  position: relative;
  top: 1.20em;
}

/*image info background styling*/
#imgInfoBG{
  position: relative;
  width: 40em;
  height: 25.10em;
  left: 39em;
  bottom: 26.15em;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}

figcaption{
  font-size: 2em;
  color: #67879c;
}

/*Image info heading styling*/
h2{
  position: relative;
  top: 0.5em;
  left: 0.5em;
  font-size: 3em;
  color: #67879c;
}

/*the following are stylings of the info of the picture, shotinfo, and cost in respective order*/
#uniqueInfo{
  position: relative;
  top: 2em;
  left: 1.5em;
  font-size: 1em;
  color: #67879c;
}

.shotInfo{
  position: relative;
  top: 5em;
  left: 1em;
  font-size: 1.5em;
  color: #67879c;
}

.picCost{
  position: relative;
  top: 4.5em;
  left: 16.5em;
  font-size: 2em;
  color: #67879c;
}

/*button styling and coloring*/
button[name=addCart]{
  position: relative;
  bottom: 9.75em;
  left: 18.25em;
  font-size: 2.5em;
  border: 0;
  background-color: rgb(103, 135, 156, 1);
  border-radius: 0px;
  width: 10.75em;
  height: 1.25em;
  color: white;
}

/*hover for register button*/
button[name=addCart]:hover{
  background-color: #516b7c;
}
