/*main background with oppacity*/
#mainBG{
  background-color: rgba(255,255,255,.4);
  height:60em;
  margin: 5em;
  padding: 4em;

}
/* put the cart beside shoppingcart*/
#mainBG h2{
  display: inline-block;
}
/*wrapper for all three divs(left right and order button)*/
#cartPriceWrapper{
  margin:5em 3em;

}
/*left div with cart items*/
#cartItems{
  float: left;
  height:40em;
  width:50em;
  background-color: rgba(255,255,255,1);
  margin-right: 2em;

}
/*contains button and info*/
#rightDiv{
  margin-left: 60em;
  height:40em;
  width:25em;
  margin-right: 50em;


}
/*info on right side*/
#content{
  
  height:35em;
    background-color: rgba(255, 255, 255, 1);
}
/*button under info*/
button[name=checkOut]{
  width:100%;
  margin-top: 2em;
  height: 4em;
  background-color: #67879c;
}
button[name=checkOut]:hover{
  background-color: #516b7c;

}
